<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>EcoMind</title>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <div class="image-contents">
          <h3>Nice to see you Again</h3>
          <h1>Welcome to Eco<span>Mind</span></h1>
          <p>
            where every thought finds its voice. Whether you're here to reflect,
            inspire, or connect with like-minded individuals, this platform is
            your canvas. Share your experiences, ideas, and musings in a space
            designed for genuine expression and meaningful conversations. Let
            your thoughts shape narratives, spark discussions, and foster
            understanding. Join us on a journey of discovery, where every
            perspective adds richness to our collective tapestry of thoughts.
            Embrace the power of sharing, because here, your voice matters.
          </p>
        </div>
      </div>
      <div class="login-container">
        <h2>Login Here!</h2>
        <h3>Enter your Login Details:-</h3>
        <form method="post" action="/login/post">
          <input
            type="email"
            name="email"
            placeholder="Email"
            value="Arpit@gmail.com"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            value="Arpit"
            required
          />
          <h5><a href="#">Forgot password?</a></h5>

          <button type="submit">Log In</button>
        </form>
        <div class="login-link">
          <a href="/register">Don't have an account? Sign Up</a>
        </div>
      </div>
    </div>
  </body>
</html>
