<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/register.css" />
    <title>InsightfulWorld</title>
  </head>
  <body>
    <div class="container">
      <div class="image-container">
        <div class="image-contents">
          <h3>Nice to meet you</h3>
          <h1>Welcome to <span>Insightful-World</span></h1>
          <p>
            Discover InsightfulWorld, where your voice finds its community.
            Whether you're here to explore, inspire, or connect with kindred
            spirits, this platform is your canvas for expression. Share your
            stories, ideas, and reflections in a space crafted for genuine
            interaction and meaningful exchanges. Let your thoughts shape
            narratives, ignite conversations, and cultivate empathy. Embark on a
            journey of exploration, where each perspective enriches our
            collective tapestry of ideas. Embrace the impact of sharing, because
            here, every voice makes a difference.
          </p>
        </div>
      </div>
      <div class="login-container">
        <h2>Register Here!</h2>
        <h3>Enter your Details:-</h3>

        <form method="post" action="/register/post">
          <input type="text" placeholder="Full Name" name="username" required />
          <input type="email" placeholder="Email" name="email" required />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
          <button type="submit">Register</button>
        </form>
        <div class="login-link">
          <a href="/login">Already have an account? Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
