<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InsightfulWorld</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles/userHome.css" />
  </head>
  <body>
    <header>
      <a href="/"
        ><div class="nav_text">Insightful&nbsp;<span>World</span></div>
      </a>
      <div class="nav_text mid_text">
        SHARE&nbsp;&nbsp;<span>YOUR</span>&nbsp;&nbsp;THOUGHTS<span
          >&nbsp;&nbsp;GLOBALLY</span
        >
      </div>
      <a class="profile" href="/profile">
        <div class="nav_text"><%= username %></div>
        <div class="profile-pic"></div>
      </a>
    </header>
    <div class="body">
      <div class="col-1">
        <h2>Hey, <%= username %>👋</h2>
        <h1>Welcome to the InsightfulWorld</h1>
        <div class="subheading">
          Join a vibrant community dedicated to exploring innovative solutions
          for a sustainable tomorrow. InsightfulWorld is where your thoughts can
          spark change and inspire others.
        </div>
        <form method="post" action="/userHome/saveThought">
          <h3>Share Your Thought</h3>
          <textarea
            name="content"
            id="textarea"
            placeholder="Enter Your Thoughts (Max 200 Words)"
            rows="10"
            maxlength="200"
            required
          ></textarea>
          <button type="submit">Add your thought</button>
        </form>
      </div>
      <div class="col-2">
        <div class="thoughts_head">Your Thoughts</div>
        <% data.map(item=> { %>
        <div class="item-box">
          <a href="/userHome/deleteThought/<%= item.id%>"
            ><i class="fas fa-trash-alt"></i
          ></a>
          <div class="content">"<%= item.content %>"</div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script>
    function getRandomLightColor() {
      const r = Math.floor(150 + Math.random() * 105);
      const g = Math.floor(150 + Math.random() * 105);
      const b = Math.floor(150 + Math.random() * 105);

      return `#${r.toString(16).padStart(2, "0")}${g
        .toString(16)
        .padStart(2, "0")}${b.toString(16).padStart(2, "0")}`;
    }

    const featureItems = document.querySelectorAll(".item-box");

    featureItems.forEach((item) => {
      const randomColor = getRandomLightColor();
      item.style.backgroundColor = randomColor;
    });
  </script>
</html>
