body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
header {
  height: 50px;
  background-color: hsl(168, 67%, 35%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

header > a{
  text-decoration: none;
  cursor: pointer;
}

header > a > div:nth-child(1) {
  font-weight: 700;
  font-size: 22px;
  color: white;
}

header > h3 {
  font-weight: 700;
  color: whitesmoke;
}

header > h3 >span {
  color: rgb(87, 208, 244);
  margin: 0px 10px;
}
header > a > div > span {
  color: rgb(88, 191, 255);
}
.Navbar-items > ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}
.Navbar-items > ul > li {
  margin: 0px 40px;
  font-weight: 700;
}
.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: url("https://fastly.picsum.photos/id/1/200/300.jpg?hmac=jH5bDkLr6Tgy3oAg5khKCHeunZMHq0ehBZr6vGifPLY");
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center center; /* Centers the image */
  background-attachment: fixed;
}
.body-entry {
  display: flex;
}
.col-1 {
  flex-direction: column;
  padding: 20px;
  width: 30vw;
  background-color: rgb(213, 238, 255);
  height: 100vh;
}

h2 {
  margin-top: 50px;
  color: green;
  font-size: 2rem;
  margin-bottom: 10px;
}
h3 {
  margin: 30px 10px;
  color: rgb(79, 73, 73);
  font-weight: 700;
  text-align: justify;
}
.new-note > form {
  background-color: cadetblue;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}
form > h3 {
  margin: 10px;
  color: rgb(209, 248, 212);
  display: flex;
  justify-content: center;
}
form > textarea {
  margin: 10px;
}
.new-note > form > button {
  padding: 5px;
  margin: 10px;
  width: 200px;
}
.col-2 {
  display: grid;
  max-height: 85vh;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}
.col-2 > .item-box {
  width: 20vw;
  height: 230px;
  word-wrap: break-word;
  border-radius: 10px;
  background-color: rgb(183, 220, 238);
}

.col-2 > .item-box > a {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  color: rgb(81, 80, 80);
  justify-content: end;
  text-decoration: none;
}

.col-2 > .item-box > .content {
  padding: 10px;
  font-size: 22px;
  text-align: center;
}